<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitanshu Agrawal's Profile</title>
    <link rel="stylesheet" href="../dist/output.css">
</head>
<body>
    
    <form class="flex">
        <div class="profile">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" width="200px"  height="200px" />
            <h2>Mitanshu Agrawal</h2>
            <h3>Developer</h3>
            <p>Tech Stack: React, Node.js, MongoDB</p>
        </div>
        <div class="details">
            <h3>Summary</h3>
            <p>Mitanshu is a web developer and leader, focusing on secure and responsive applications with expertise in full-stack development.</p>

            <h3>Education</h3>
            <p>Bachelor's Degree in Computer Science - University XYZ</p>

            <h3>Experience</h3>
            <ul>
                <li>Web Developer at ABC Corp</li>
                <li>Intern at Codesoft</li>
            </ul>
        </div>
    </form>
</body>
</html>
