
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
  .resume-container {
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
  
  .profile-details h1 {
    font-size: 28px;
    margin: 0;
  }
  
  .profile-details h2 {
    font-size: 20px;
    margin: 5px 0;
    color: #777;
  }
  
  .contact-info {
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .resume-section {
    margin-bottom: 20px;
  }
  
  .resume-section h3 {
    font-size: 18px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li strong {
    font-size: 16px;
  }
  
  .skills-list li, .achievements-list li {
    margin-bottom: 5px;
    line-height: 1.6;
  }
  .education-list{
    display: flex;
    justify-content: space-between;
  }
  .experience-list{
    display: flex;
    justify-content: space-between;
  }